@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

a {
  text-decoration: none;
}

/* Header Styles */
.header {
  background-color: #562eff;
  /* height: 95px; */
  padding: 20px;
}

.navbar {
  margin: 0 auto;
  max-width: 870px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo style */

.left {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-family: "Poppins";
  cursor: pointer;
}

.left img {
  width: 40px;
  height: 50px;
}

/* Menu Style */
.right {
  display: flex;
  align-items: center;
}

.right img {
  cursor: pointer;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

/* ------------------------
     Main Section Styles
--------------------------*/

/* Main */
.main {
  margin-top: 30px;
}

.main section {
  margin-bottom: 30px;
}

/* top player */
.container {
  padding: 35px;
  background: #ffffff;
  border-radius: 10px;
  max-width: 870px;
  margin: 0 auto;
}

.section_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
  margin-bottom: 40px;
}

.top_players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  place-content: space-between;
}

.player {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.player img {
  width: 56px;
  height: 56px;
}

.player_name {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

hr {
  margin: 40px auto;
  border: 1px solid #d1d1d1;
}

/* Tob Blogs */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  left: 0;
  transition: 0.5s ease-in-out;
}

.blog:hover {
  left: -20px;
}

.blog img {
  width: 177px;
  height: 117px;
}

.blog_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
}

.blog_title a {
  color: #000000;
}

.blog_title a:hover {
  color: #562eff;
}

.blog_author {
  font-size: 16px;
  line-height: 24px;
  color: #9f9f9f;
}

.blog_author a {
  color: #562eff;
}

/* Course Style */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 40px;
}

.course {
  background: #ffffff;
  border-radius: 10px;
  width: 255px;
  height: 270px;
  padding: 10px;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
  position: relative;
  top: 0;
  transition: 0.5s ease-in-out;
}

.course:hover {
  top: -20px;
}

.course img {
  width: 100%;
}

.course_title {
  font-weight: 500;
  font-size: 20.0336px;
  line-height: 23px;
  margin-top: 15px;
}

.course_title a {
  color: #1e1e1e;
}

.course_author {
  font-weight: 400;
  font-size: 14.6913px;
  line-height: 17px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.course_author a {
  color: #ed6b4f;
}

.course_stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
}

.rating i {
  color: #ffd000;
  font-size: 14px;
}
.rate {
  margin-left: 12px;
}

.duration {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 15px;
  background: #ffe4e8;
  border-radius: 14.6913px;
}

.duration p {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ff4a60;
}

.duration i {
  color: #ff4a60;
  /* font-weight: 600; */
  font-size: 15px;
}

@media screen and (max-width: 688px) {
  .container {
    width: 100%;
    padding: 20px 0;
  }

  .section_title {
    /* padding: 20px; */
    text-align: center;
  }
  .top_players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
    text-align: center;
    /* margin: 0 auto; */
  }

  .navbar ul {
    display: none;
  }
}
